:root{
    --cor-de-fundo: #9908089d;
    --branco: #fff;
    --font-principal: "poppins";
    --font-secundaria: "Josefin Scans";
    --preto: #0a0a0a;
}
.cabecalho {
    
color:#d62d2d;
display: flex;
justify-content: space-around;
align-items: center;
padding: 40px 0;

}

.titulo{
    text-align: center;
    width: 100px;
}

.imagem{
    width: 50%;
}



 









































































